<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">

	<!-- 1.Q&A insert -->
	<insert id="addCustomer" parameterType="com.model.CustomerVo">
		insert into customer values(#{num},#{title},#{content},#{regdate},#{category},#{count})
	</insert>

	<!-- 2.Q&A delete -->
	<delete id="deleteCustomer" parameterType="java.lang.Integer">
		delete from customer where num = #{num}
	</delete>
	
	<!-- 3.Q&A update -->
	<update id="updateCustomer" parameterType="com.model.CustomerVo">
		update customer set num=#{num},title=#{title},content=#{content},regdate=#{regdate},category=#{category},count=#{count}
	</update>
	
	<!-- 4.카테고리별 검색 -->
	<select id="getCustomer" parameterType="java.lang.String" resultType="com.model.CustomerVo">
		select * from customer where category=#{category}
	</select>
	
	<!-- 5.전체 질문 목록 가져오기 -->
	<select id="getAll" resultType="com.model.CustomerVo">
		select * from customer 
	</select>
	
	<!-- 6.top5만 가져오기 -->
	<select id="getTop5" resultType="com.model.CustomerVo">
		select * from (select * from customer order by count asc) where rownum &lt;= 5 
	</select>

	<!-- 7.카테고리별 갯수  -->
	<select id="getCateCount" resultType="java.lang.Integer">
		select count(*) from customer where category=#{category}
	</select>
</mapper>