<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">

	<!-- 1.Q&A insert -->
	<insert id="addCustomer" parameterType="com.model.CustomerVo">
		insert into customer values(customer_seq.nextval,#{title},#{content},#{regdate},#{category},0)
	</insert>

	<!-- 2.Q&A delete -->
	<delete id="deleteCustomer" parameterType="java.lang.Integer">
		delete from customer where num = #{num}
	</delete>
	
	<!-- 3.Q&A update -->
	<update id="updateCustomer" parameterType="com.model.CustomerVo">
		update customer set title=#{title},content=#{content},regdate=#{regdate},category=#{category}
	</update>
	
	<!-- 4.카테고리별 데이터 가져오기 -->
	<select id="getCategory" parameterType="java.lang.String" resultType="com.model.CustomerVo">
		select * from customer where category=#{'category'}
	</select>
	
	<!-- 5.전체 데이터 가져오기 -->
	<select id="getAll" resultType="com.model.CustomerVo">
		select * from customer 
	</select>
	
	<!-- 6.top5만 가져오기 -->
	<select id="getTop5" resultType="com.model.CustomerVo">
		select * from(select * from customer order by count desc) where rownum &lt;=5
	</select>

	<!-- 7.카테고리별 데이터 갯수(특정 카테고리의 데이터 갯수)  -->
	<select id="getCateCount" resultType="java.util.HashMap">
		select category,count(*) c from customer group by category
	</select>
	
	<!-- 8.전체 데이터 갯수(전체 카테고리의 데이터 갯수)  -->
	<select id="getAllCount" resultType="java.lang.Integer">
		select count(*) from customer
	</select>
	
	<!-- 9.views(조회수 증가) -->
	<update id="addCount" parameterType="java.lang.Integer">
		update customer set count=count+1 where num=#{num}
	</update>
	
</mapper>