<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addMember" parameterType="com.model.MemberVo">
		insert into member values(#{email},#{pass},#{name},#{phone},#{address}
		,#{birth}, 0, 1)
	</insert>
	<select id="findByEmailAndPass" parameterType="java.util.HashMap"
		resultType="com.model.MemberVo">
		select * from member where email=#{email} and pass=#{pass}
	</select>
	<select id="getSequence" resultType="java.lang.Integer">
		select member_seq.nextval from dual
	</select>
	<select id="findByEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count (*) from member where email=#{echeck}
	</select>
	<select id="findByPhone" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count (*) from member where phone=#{pcheck}
	</select>
	<select id="cookieVo" resultType="com.model.MemberVo" parameterType="java.lang.String">
		select * from member where email=#{email}
	</select>
	<update id="changeAll" parameterType="com.model.MemberVo">	<!-- 하나 아니면 무조건 map이나 vo -->
		update member set pass=#{pass},name=#{name},phone=#{phone},address=#{address} where email=#{email}
	</update>	<!-- pass1=#{pass2} 1은 DB 컬럼명과 똑같이 2는 vo와 똑같이 -->
	
	<delete id="memberDel">	<!-- id는 dao에서 어떤거 쓸지 똑같이 -->
		delete from member where email=#{email}	<!-- 지울때는 primary 나 unique -->
	</delete>
</mapper>