<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie">

	<!-- 1.관리자 - 영화 데이터 입력 -->
	<insert id="addMovie" parameterType="com.model.MovieDetailVo">
		insert into movie values(movie_detail_seq.nextval,#{moviename},#{release},#{rating},#{genre},#{grade},#{sysnopsis},#{cast},#{url},#{now})
	</insert>
	
	<!-- 2.관리자 - 영화 데이터 수정 -->
	<update id="updateMovie" parameterType="com.model.MovieDetailVo">
		update movie_detail set moviename=#{moviename},release=#{release},rating=#{rating},genre=#{genre},grade=#{grade},sysnopsis=#{sysnopsis},cast=#{cast},url=#{url},now=#{now} where num=#{num}
	</update>

	<!-- 3.관리자 - 영화 데이터 삭제 -->
	<delete id="deleteMovie" parameterType="java.lang.Integer" >
		delete from movie where num=#{num}
	</delete>
	
	<!-- 4.영화 상세 정보 가져오기 -->
	<select id="getMovie" resultType="com.model.MovieDetailVo">
		select * from movie
	</select>
	
	<!-- 5.평점순 가져오기 수정 필요-->
	<select id="getMovieGrade" resultType="java.util.HashMap">
		select a.moviename,a.grade,b.fileurl,b.filename from movie_detail a left join 
		movie_image b on a.num = b.parent where a.now = 1 order by grade desc
	</select>
</mapper>