<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">
	<select id="getQuestSequence" resultType="java.lang.Integer">
		select question_seq.nextval from dual
	</select>
	<insert id="addQuestion" parameterType="com.model.QuestionVo">
		insert into question values(#{num},#{title},#{content},#{writer},sysdate,#{receiver})
	</insert>
	<insert id="addAttach" parameterType="com.model.QuestionFileVo">
		insert into question_file values(question_file_seq.nextval,#{fname},#{fsize},#{furl},#{parent})
	</insert>
	<select id="getQuestionByReceiver" resultType="com.model.QuestionVo" parameterType="java.util.Map">
		select a.*, b.cnt from (select qr.* from(select rownum r,q.* from(select * from QUESTION where WRITER=#{writer} order by num desc)q)qr where qr.r between #{num}*10-9 and #{num}*10) a left join (select parent, Count(*) cnt from answer group by parent) b on a.num = b.parent
		
		<!-- select qr.* from(select rownum r,q.* from(select * from QUESTION where WRITER=#{writer} order by num desc)q)qr where qr.r between #{num}*10-9 and #{num}*10 -->
	</select>
	<select id="getQuestionByReceiverCount" resultType="java.lang.Integer" parameterType="com.model.QuestionVo">
		select count(*) from(select rownum r,q.* from(select * from QUESTION where WRITER=#{writer} order by num desc)q)qr
	</select>
	<select id="getQuestionByNo" resultType="com.model.QuestionVo" parameterType="java.lang.Integer">
		select * from question where num=#{no}
	</select>
	<select id="getQuestionFileByParent" resultType="com.model.QuestionFileVo" parameterType="java.lang.Integer">
		select * from question_file where parent=#{no}
	</select>
	<select id="getAnswerParent" resultType="com.model.AnswerVo" parameterType="java.lang.Integer">
		select * from answer where parent=#{no}
	</select>
	<delete id="deleteQuestion" parameterType="java.lang.Integer">
		delete from question where num=#{no}
	</delete>
	<delete id="deleteQuestionfile" parameterType="java.lang.Integer">
		delete from question_file where parent=#{no}
	</delete>
	<delete id="deleteAnswer" parameterType="java.lang.Integer">
		delete from answer where parent=#{no}
	</delete>
	
	
</mapper>